<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patch log</title>
</head>

<style>
    .red{
        color: red;
    }
</style>
<body>
<div>
    <h1>패치 노트</h1>
    <h5>developed by: 최재성, 장현준, 신정화</h5>
    <a href="/login">뒤로가기</a>
    <ol>
        <div>
            <li>2021년 03월 05일 패치 노트 #2</li>
            <p>중복 버튼을 눌러서 아이디의 사용 가능 여부를 확인후 </br>
                지웠다가 다시 중복된 아이디를 적으면 중복 가입이 되는 현상</p>
            <ul>
                <li class="red">
                    중복 확인 버튼 제거 -> 실시간 입력 확인
                </li>
            </ul>
        </div>
        <br>
        <div>
            <li>2021년 03월 04일 패치 노트 #1</li>
            <p>중복 확인을 한후에 아이디를 지웠다 회원가입을 누르면 가입이</br>
                성공적으로 이루어 지는 현상</p>
            <ul>
                <li class="red">
                    아이디 항목에 빈칸인지 아닌지 여부 확인
                </li>
            </ul>
        </div>
    </ol>
</div>
<br>
<br>
<br>
<a href="/login">뒤로가기</a>

</body>
</html>